.appHeader {
    padding-bottom: 30px;
    text-align: center;

    .mainHeading {
        font-size: 40px;
    }

    .lastUpdatedLabel {
        font-weight: bolder;
    }

    .lastUpdatedTime {
        font-style: italic;
    }
}